@media only screen and (max-width: 450px){
    #pd{
        width: 95%;
        margin-left: 1%;
        transform: none;
        display: flex;
        flex-direction: column;
        height: 90%;
        padding-bottom: 12px;
        margin-top: 5px;
    }
    
    #pd .allimgs{
        margin-left: 25px;
        transform: scale(1.25);
        border-radius: 50px;
        transform: rotate(-90deg);
        box-shadow: -20px -20px 0px white;
        

    }
    #pd #prodimg{
        transform: rotate(90deg);
        width: 60%;
        margin-left: 20%;
        margin-top: -12%;
    }
    #pd #prodsale{
        margin-bottom: 25px;
    }
}