
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Creepster&family=Fjalla+One&family=Righteous&family=Roboto+Condensed:wght@700&family=Sansita+Swashed:wght@700&family=Secular+One&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Creepster&family=Fjalla+One&family=Righteous&family=Roboto+Condensed:wght@700&family=Sansita+Swashed:wght@700&family=Secular+One&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Creepster&family=Fjalla+One&family=Oswald:wght@500&family=Righteous&family=Roboto+Condensed:wght@700&family=Sansita+Swashed:wght@700&family=Secular+One&family=Supermercado+One&display=swap');
::-webkit-scrollbar-corner{
    display: none;
}
body{overflow-x: hidden;}
*::-webkit-scrollbar{
    width: 7px;
    background: rgb(85, 30, 137);
    border-radius: 12px;
    overflow-x: hidden;
}
::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 12px;
    

}
*{
    margin: 0; padding: 0;box-sizing: border-box;}
   

#banclose1{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
#banclose1:hover{
    color: red;
}
.navbar{
    height: 10vh;
    
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 99999;
      backdrop-filter: blur(15px);
    background-color: rgba(164, 128, 201, 0.459);
}
.navbar *{
    z-index: 9999;
    /* backdrop-filter: blur(2px); */
}
.nav-cart{
   transform: scale(1.5);
   
   margin-right: 50px;
}
.nav-search2{
    background: rgba(205, 249, 185, 0.479);
    transform: scale(.9);

}

.nav-cart:hover{
    transition: all .4s;
    cursor: pointer;
    color: purple;
    transform: scale(2);
}
.nav-more{
    background: rgba(255, 255, 255, 0.41);
    color: black;
    margin-left: 50px;
    transform: scale(.8);
}

.nav-search{
    margin-left: -60vw;
    width: 40vw;
    box-shadow: 1px 1px 7px rgb(161, 45, 215) inset,-1px -1px 3px rgb(161, 45, 215) inset;
    text-align: center;
    font-weight: 800;
    z-index: 3;
}
.nav-search:hover{
    background: rgb(229, 203, 253);
}
#nav-logo{
    width: 75px;
}
.nav-prod{
    z-index: 99999;
}
/* St nav-prod */
.mtit{
    font-weight: bolder;
    font: 20px sans-serif;
    text-align: center;
}

#mob-more2{
    margin-top: -35vh;
    
}
.nav-prod2{
    text-align: center;
    position: absolute;
    top: 7px;
    z-index: 999;
    background: rgba(153, 153, 153, 0.618);
    color: #000;
    width: 120vw;
    font-size: 25px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    height: fit-content;
    margin-top: 20px;
}



#mobmore{
    transition: all 2s;
    display: none;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 2px 2px 12px white;
    position: absolute;
    top: 100px;
    left: -55vw;
    font-family: 'Secular One', sans-serif;   
    background-color: rgba(230, 230, 230, 0.851);
    width: 120vw;
    height: 100vh;
    z-index: 12;
}
/* OP nav-prod */

.nav-dropdown{
    margin-left: 70px;
    background-color: rgba(255, 255, 255, 0.58);
    box-shadow: 1px 1px 12px white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50px;
    transform: scale(.85);
    z-index: 3399;
}
/* St mob nav-dropdown */
.mob-nav-dropdown{
    
    margin-left: 70px;
    background-color: rgba(255, 255, 255, 0.58);
    box-shadow: 1px 1px 12px white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 50px;
    transform: scale(.85);
    z-index: 3399;
}


/*  Op mob nav-dropdown */

.nav-dropdown:hover{
    box-shadow: 1px 1px 12px rgb(120, 24, 120);
    border-radius: 10%;
    
}
.dropdown-menu{
    transform: scale(1.25);
    margin-top: 20vw;
    width: 200px;
    border-top: 55px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    border-color: transparent;
    z-index: 30;
    margin-left: -40px;
    box-shadow: 1px 1px 12px white;
}
.dropdown-item{
     
     text-align: center; 
    text-shadow: 2px 2px 10px rgb(177, 15, 221);
}
.dropdown-item:hover{
    background: rgba(0, 0, 0, 0.189);
}
.rt-arr{
    float: right;
}
#kitchen-dmain,#poultry-dmain,#kids-dmain,#junk-dmain,#bathroom-dmain,#madira-dmain,#soft-dmain,#others-dmain{
    width: 220px;
   display: none;
   align-items: center;
   justify-content: center;
    position: absolute;
    padding-bottom: 10px;
    top: 52px;
    background: rgb(238, 214, 240);
}

.kd-i,.pd-i,.id-i,.jd-i,.bd-i,.md-i,.sd-i,.od-i{
    font: 20px sans-serif;
    margin-left: 15px;
    padding-bottom: 10px;
    width: 190px;
    height: 50px;
    display: flex;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    border: 1px solid purple;
    background: rgba(203, 195, 195, 0.705);
}
.k-dc:hover,.c-more:hover,.p-dc:hover,.i-dc:hover,.j-dc:hover,.b-dc:hover,.m-dc:hover,.s-dc:hover,.o-dc:hover{
    color: red;
}
#more{
    position: absolute;
    top: 10vh;
    right: 13vw;
    background: white;
    width: 12vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-radius: 19px;
    border: 2px double purple;
    display: none;
    box-shadow: 2px 2px 10px rgb(200, 131, 200);
    
}
.more-cc{
    width: 100%;
    background-color: rgba(128, 128, 128, 0.315);
    text-align: center;
    padding: 7px 0;
    border-radius: 7px;
    margin-top: 5px;
    text-shadow: 1px 1px 1px purple;
    
}
.more-cc:hover{
    background: rgb(239, 206, 239);
}
.more-cc:active{
    background: white;
}

/* mobile change*/


/* mobile change */
/* MIDDLE */
#mainall{
    margin-top: 0px;
    width: 100vw;
    height: 700vh;
    background: rgba(188, 130, 238, 0.309);
    z-index: 1;
    overflow: hidden;
}
#middle{
   margin-top: 2px;
    display: flex;
    
    align-items: center;
    justify-content: center;
}
#carouselExampleCaptions{
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55vh;
    background: rgba(214, 210, 210, 0.351);
    border-radius: 15px;
    border:5px solid black;
    box-shadow: 10px 10px 20px grey,-10px -10px 20px grey;;
     
    margin-top: 20px;
}
.carousel-caption a {
    margin-top: 100px;
    margin-left: -50vw;
    background: rgba(0, 0, 0, 0.964);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 7px;
    font-weight: 900;
    border-radius: 100px;

}
.slider-img{
    box-shadow:inset 7px 2px 20px rgb(0, 0, 0) ;
    padding: 7px;
    display: block;
    margin-left: 5vw;
    border-radius: 22px;
    width: 70vw;
    height: 50vh;
    
    
}
.prvnext{
    background-color: black;
    width: fit-content;
    border-radius: 35px 0px 0px 35px;
}
.prvnext:hover{
    background: rgb(116, 7, 7);
}
.prev{
    border-radius:0 35px  35px 0;
    
}
.carousel-indicators{
    background: rgb(0, 0, 0);
    border-radius: 20px 20px 0px  0px ;
    padding: 0px 10px;
    position: absolute;
    top: 50vh;
    height: fit-content;
    margin-left: 30vw;
    width: fit-content;
}
#prod-row{
    width: 100vw;
    height: 12.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -25px;
    background-color: rgba(171, 167, 172, 0.593);
    padding: 7vh 0;
    border-radius: 1000px;
    overflow: hidden;
    box-shadow:inset 2px 2px 0px black,inset -2px -2px 0px black;
}
.prod-nav img{
    transform: scale(0.7);
}
.prod-nav{
   overflow: hidden;
    width: 100px;
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(210, 210, 210);
    border-radius: 12px;
    margin-left: 3vw;
    box-shadow: inset 3px 3px 7px black;
   
}
.mob-more{
    position: absolute;
    right: -7px;
    top: 40px;
    height: fit-content;
    display: none;
    width: fit-content;
    
    transform: scale(.7);
}
#nav-more2{
    display: none;
}
.prod-nav:hover{
    box-shadow: inset 3px 3px 7px rgba(95, 16, 107, 0.725);
    cursor: pointer;
}
.prod-nav:active{
    background: rgba(179, 0, 255, 0.488);
}
#kitchen1{
    margin-left: -10px;
}
.prod-nav-text{
    width:100px;
    background: rgba(0, 0, 0, 0.698);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    text-align: center;
    height: 22px;
    padding: 3px ;
    margin-top: -10px;
    opacity: 50%;
    font-size: 15px;
    border-radius: 10px 10px 0 0;
    transition: all 0.4s;
}
.prod-nav-text:hover{
    opacity: 100%;
}
.prod-nav:hover  .prod-nav-text{
    opacity: 100%;
    background: rgba(88, 17, 126, 0.713);
}

#prod-row-txt{
    margin-left: 42vw;
    
    width: fit-content;
    margin-top: 25px;
}

 /* MSG BOX  */


.msg-btn{
    background: rgb(255, 255, 255);
    position: fixed;
    bottom: 3vh;
    right: 1.5vw;
    border-radius: 50%;
    transform: scale(2);
    padding: 5px;
    box-shadow: inset 2px 2px 2px rgb(179, 14, 14),inset -2px -2px 2px rgb(112, 250, 255);
    color: rgb(255, 0, 47);
    filter: blur(.3px);
    cursor: pointer;
   transition: all 0.3s;
   z-index: 999;
}
.msg-btn:hover{
    box-shadow: none;
    background: #000;
    border: 1px dotted white;
}
.msg-btn:active{
    background: red;
}
#msg-box{
    background: rgb(173, 157, 157);
    position: fixed;
    bottom: 1vh;
    right: .5vw;
    width: 230px;
    z-index: 1000;
    height: 300px;
    border-radius: 15px 15px 0 0;
    display: none;
    align-items: center;
    flex-direction: column;
}
#msg-top{
    width: 230px;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
    text-align: center;
    background: rgb(245, 102, 102);
    display: flex;
    color: white;
    word-spacing: 50px;
    justify-content: center;
    align-items: center;
    
}
#msg-top h5{
    margin-top: 3px;
}
.msg-close{
    display: inline-block;
}
.msg-close:hover{color: rgb(255, 217, 0);}
#inbox{
    margin-top: 7px;
    width: 215px;
    height: 200px;
    background: rgba(62, 102, 100, 0.607);
    border-radius: 10px;
    box-shadow: inset 1px 1px 10px white;
}
#admin,#user{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 12px;
    filter: blur(3px);
}
.admin ,.user{
    padding: 7px;
    background: rgb(227, 205, 164);
    border-radius: 50%;
    border: 1px solid red;
    color: black;

}
.user{
    background: rgb(158, 219, 166);
}
#ad-msg,#us-msg{
    background: rgb(227, 205, 164);
    border-radius: 12px;
    border: 1px solid red;
    padding: 5px;
    max-width: 90%;
    margin-left: 10px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#us-msg{
    background: rgb(158, 219, 166);

}
#msg-write{
    width: fit-content;
    filter: blur(1.2px);
    padding: 5px 15px;
    background: rgb(201, 192, 192);
    border-top: 2px solid #000;
    margin-top: 12px;
}
.msg-cmt{
    width: 150px;
    border-radius: 10px;
    text-align: center;
    padding: 2px;
}
.msg-send{
    border-radius: 50%;
    background: yellow;
    margin-left: 12px;
    cursor: pointer;
    padding: 7px;
}
.msg-send:hover{
    background: rgb(255, 255, 255);
}
#ex-msg{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    height: 88%;
    margin-top: 12%;
    flex-direction: column;
}
.msgls{
    width: 90px;
    border-radius: 12px;
    font-weight: 900;
    padding: 5px;
    border: 5px ridge black;
    box-shadow: 7px 7px 12px black;
    background: rgb(202, 119, 237);
}
.msgls:first-child{
    background: orange;
}
.msgls:hover{
    background: black;
    color: white;
    box-shadow: 7px 7px 12px rgb(255, 255, 255);

}

/* prod-sale */

#prod-sale{
    margin-top: 25px;
    background: rgba(159, 153, 159, 0.459);
    height: 45vh;
   
    
}
#f-h4{
    position: absolute;
    margin-top: -20px;
    color: rgb(44, 43, 43);
    margin-left: 7vw;
    border-radius: 15px;
    padding: 10px;

    backdrop-filter: blur(33px);
    width: fit-content;
}
.ps1s{
    margin-top:35px;
    margin-left: 2px;
    margin-right: 15px;
    background: rgb(220, 175, 92);
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    box-shadow: 2px 2px 3px black;
    
}
#psale1{
    /* background: red; */
    width: 1270px;
    overflow: hidden;
    
    display: grid;
    height: fit-content;
    align-items: center;
    justify-content: center;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px 3px;
    margin-left: 3vw;
    /* position: absolute; */
    
}
.allimgs{
    position: absolute;
    z-index: 1;
    width: 175px;
    border: 5px solid white;
    box-shadow: 10px 0px 7px white,-10px 0px 7px white;
    height: 175px;
    transition: .2s ;
}
.pn1{
    background: rgba(167, 163, 163, 0.905);
    text-align: center;
    font: 17px sans-serif;
    text-shadow: 1px  1px 0px  white;
    
    padding: 1px 3px;
    width: 233px;
    display: block;
    border-radius: 12px 12px 0  0;
    font-weight: 900;
    color: rgb(57, 58, 58);
    z-index: 4;
    position: absolute;
    top: 0;
}

.acprise1{
    display: block;
    background: rgb(196, 70, 70);
    position: absolute;
    bottom: 40px;
    z-index: 4;
    width: 100%;
    font-weight: 900;
    color: wheat;
    height: 1px;
    border-top: 1px solid #000;
    text-align: center;
    transition: all 0.4s;
    padding-top: 10px;
    margin-bottom: -10px;
    font: 20px sans-serif;
    
    border-radius: 100% 100% 0 0;
}
.save1{
    margin-top: -20px;
    font: 15px sans-serif;
    display: block;
    background: rgb(104, 108, 103);
    color: greenyellow;
    position: absolute;
    bottom: 1px;
    z-index: 5;
    height: 25px;
    text-align: center;
    width: 100%;
    padding-top: 2px;
}
.ps1s:hover .acprise1{
    height: 40px;
}
.ps1s:hover img{
    transform: scale(1.2);
    
}

.moves{
    background: red;
    position: absolute;
    height: 33px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   

    width: 40px;
   height: 40px;
    z-index: 100;
    cursor: pointer;
    

}
.move-r{
    margin-left:12pxx ;
}
.move-r{
    margin-left: 90vw;
}

/* #all-prod-group */

#all-prod-group{
    background: rgba(192, 119, 234, 0.837);
    position: fixed;
    /* margin-left: -vw; */
    transition: all 1s;
    z-index: 1200;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    height: 86vh;
    display: grid;
    align-items: center;
    justify-content: center;
    
}
#all-prod-group .divs-p{
    background: rgba(255, 166, 0, 0.848);
    
    margin-left: 1vw;
    cursor: pointer;
    padding-right: 10px;
}
.divs-p h2{
    font: 25px sans-serif;
    font-family: monospace;
    
}
.divs-p h2 i{
    float: right;
    font-size: 20px;
    margin-top: 5px;
}
#PROD {
    display: none;
}

