@media only screen and (max-width: 1000px) {
  #products-dd{
    display: none;
}
.loadm{
  position: absolute;
  bottom: -30px;
  right: 10px;
  z-index: 99;
}
#search{
  margin-left: 3vw;
  
}
#sbanner i{
  display: none;
}
.carousel-indicators{
  display: none;
}
#carouselExampleCaptions{
  width: 100vw;
}
.slider-img{
  width: 88vw;
}
.nav-more{
  display: none;
}
.nav-search{
  width:20vw;
  margin-left: -40vw;
}
.nav-prod{
  margin-top: 25px;
  background: rgba(20, 20, 20, 0.458);
}
.active{display: none;}
.nav-sign{
  transform: scale(0.75);
}
.nav-cart{margin-left: 15px;}
.nav-dropdown{
  background: none;
  box-shadow: none;
}

}
@media only screen and (max-width: 800px){
  .ks1{
    width: 70%;
    transform: scale(0.75);
    margin-left: -50px;
  }
  .ks1:first-child{
    margin-left: -10px;
  }
  .ks1:last-child{
    margin-right: -10px;
  }
 
}
@media only screen and (max-width: 750px){

  #sbanner b{
    width: 90vw;
   font-size: 4vw;

  }
  .psale1{
    width: 1111px;
  }
  .nav-cart{
    display: none;
  }
  .nav-prod{
    margin-left: -100px;
    background: none;
    box-shadow: none;
  }
  .nav-dropdown{
    background: none;
    box-shadow: none;
  }
  .mob-nav-dropdown{
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 12px rgba(255, 255, 255, 0);
  }
}
@media only screen and (max-width: 1300px) {
  .nav-search{
  width:30vw;
  margin-left: -40vw;

}
}

@media only screen and (max-width: 450px){
 
  .ks1{
    width: 70%;
    /* transform: scale(0.75); */
    margin-left: -50px;
  }
  .ks1:first-child{
    margin-left: -15px;    
  }
  #ps1-b{
    
    margin-right:-12px;
  }
  #ps1-c{
    display: none;
    opacity: 10%;
  }
  .mob-more{
    display: block;
  }
  .nav-sign{
    position: absolute;
    right: -10px;
    top: 10px;
    transform: scale(0.5);

  }
  .d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -40px;
   
    width: 100vw;
  }
  #mainall{
    margin-top: 2px;
  }
  #carouselExampleCaptions{
    height: 170px;
  }
  .carousel-item{
    height: 165px;
    width: 95%;
  }
  .slider-img{
    width: 100%;
    height: 100%;
    margin-left: 10px;
  }
  #prod-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10px;
    height: fit-content;
    width: 97%;
    margin-left: 1.5%;
    transition: all 2s;
  }
    .prod-nav{
      margin-left: 1px;
      transform: scale(0.77);
      background: grey;
    }
    .pn{background: grey; display: none;}
  #kitchen1{
    margin-left: 2px;
  }
  #nav-more2{
    margin-left: 40%;
    margin-top: -15px;
    padding: 5px;
    font-weight: 800;
    background: rgb(174, 149, 237);
    border-radius: 15px;
    display: block;
   
  }
  #prod-row-txt{
    margin-left: 12vw;
  }
  .msg-btn{
    margin: 20px 20px;
    transform: scale(1.5);
  }
  #mobmore{
    display: none;
  }
  #msg-box{
    margin-left: 22px;
  }
  
}
  